.preview.markdown-body {
  flex: 0 0 50%;
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
  color: #f6f6f6;
}

.preview.markdown-body pre {
  background-color: rgba(255, 255, 255, 0.45);
}
.markdown-body table td, .markdown-body table th{
  background: #3d3737;
}
